# Local Development Backend Config

# Server Config
PORT=4001
NODE_ENV=development

# Database URIs
# DIRECT_URL is used by Prisma CLI for migrations
DIRECT_URL="postgresql://postgres.[db-ref]:[db-pass]@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"

# DATABASE_URL is used by Prisma Client (pooler/transaction mode)
DATABASE_URL="postgresql://postgres.[db-ref]:[db-pass]@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Security
JWT_SECRET="local_development_super_secret_key"
CORS_ORIGIN="http://localhost:3000"