# Production Backend Config

# Server Config
PORT=4001
NODE_ENV=production

# Database URIs
DIRECT_URL="insert-your-production-database-direct-url"
DATABASE_URL="insert-your-production-database-pooler-url"

# Security
JWT_SECRET="generate-a-super-long-secure-random-string-for-production"
CORS_ORIGIN="https://todo-frontend-app-[your-vercel-hash].vercel.app"
